[flake8]
max-line-length = 120
max-doc-length = 120
extend-ignore =
    # E203: Whitespace before ':' (pycqa/pycodestyle#373)
    E203,
    # with open() call is allowed
    PL123,

# Example of per file ignore.
#per-file-ignores =
#    # Allow 'id' as attribute
#    **/model.py:A003,
#    # Don't expand * imports in init files
#    **/__init__.py:F403,F401,

extend-exclude =
    # Make sure to ignore test resources
    tests/fixtures/*,
    tests/**/fixtures/*,
